#freely falling
print("1 v")
print("2 h")
print("3 v**2")

a=int(input("enter the value ou want: "))
if a==1:
#formula is v=u+at
    u=float(input("enter the value of u: "))
    g=float(input("enter the value of g: "))
    t=float(input("enter the value of t: "))
    a=u+g*t
    print("the vlue of v is: ",a)

elif a==2:
    # the formula is h = u**2 + 0.5*g*t**2
    u=float(input("enter the value of u: "))
    t=float(input("enter the value of t: "))
    g=float(input("enter the value of g: "))
    a=u*t+0.5*g*t**2
    print("the value of h is: ",a)
    
elif a==3:
    #the formula is v**2=u**2+2*g*h
    u=float(input("enter the value of u: "))
    g=float(input("enter the value of v: "))
    h=float(input("enter the value of h: "))
    a=u**2+2*g*h
    print("the value of v**2 is: ",a)
    
    
    
#
    
